__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.idea/
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
.ipynb_checkpoints/
pip-log.txt
secrets.toml
build/
dist/
*.spec
*.exe
*.xlsx
*.pdf
anexos_checklist/
